{% extends 'flatpages/default.html' %}

{% load custom_filters %}!

{% load custom_tags %}

{% block title %}
Горячие новости и статьи!!!
{% endblock title %}

{% block head %}
<style>
    table, th, td {
      border: 1px solid black;
    }
    table.center {
      margin-left: auto;
      margin-right: auto;
    }
</style>
{% endblock head %}

{% block content %}
<br>
<button> <a href="/content/news/">     Новости </a> </button>
<br>
<button> <a href="/content/articles/"> Статьи  </a> </button>
<br>
<button> <a href="/accounts/logout/">Выйти</a> </button>
<br>
<button> <a href="/accounts/login/">Войти</a> </button>
{% endblock content %}